body {
  font-family: "Nunito", sans-serif;
}
body strong {
  font-weight: bold;
}

.projeto__label .label--javascript {
  background-color: #ffc107;
  color: black;
}

.projeto__label .label--react {
  background-color: #007bff;
  color: #f8f9fa;
}

.projeto__label .label--node {
  background-color: #28a745;
  color: #f8f9fa;
}

.projeto__label .label--sass {
  background-color: #dc3545;
  color: #f8f9fa;
}

.projeto__label .label--c-sharp {
  background-color: #6c757d;
  color: white;
}

.projeto__label .label--unity {
  background-color: #f8f9fa;
  color: black;
}

.projeto__label .label--html {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.projeto__label .label--css {
  background-color: #007bff;
  color: #f8f9fa;
}

body .perfil {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
body .perfil .perfil__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 2;
}
body .perfil .perfil__banner {
  background: url("../img/space.jpg") no-repeat center/cover;
  height: 100vh;
}
body .perfil .perfil__info {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
body .perfil .perfil__info .perfil__imagem {
  background: url("../img/emoji_2.png") no-repeat center/cover;
  height: 60px;
  width: 60px;
}
body .perfil .perfil__info .perfil__ops {
  background: url("../img/ops.png") no-repeat center/cover;
  height: 60px;
  width: 60px;
}
body .perfil .perfil__info .perfil__texto {
  color: white;
  flex-direction: column;
  margin: 10px;
}
body .perfil .perfil__info .perfil__texto .perfil__funcao {
  margin-top: 0.5rem;
}
body .perfil .perfil__info .perfil__menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  width: 100%;
}
body .perfil .perfil__info .perfil__menu .menu__link {
  text-decoration: none;
}
body .perfil .perfil__info .perfil__menu .menu__link.ativo {
  font-weight: 600;
}
body .perfil .perfil__info .perfil__menu .menu__link:hover {
  font-weight: 600;
}
body .perfil .perfil__info .perfil__menu .menu__link .menu__itens {
  color: white;
}

@media screen and (min-width: 0) {
  .perfil__nome {
    font-size: 1.25rem;
    white-space: nowrap;
  }

  .perfil__funcao {
    font-size: 0.9rem;
    white-space: nowrap;
  }

  .menu__itens {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .perfil__nome {
    font-size: 1.5rem;
  }

  .perfil__funcao {
    font-size: 1rem;
  }

  .menu__itens {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
.cabecalho {
  background-color: black;
  height: auto;
  padding: 20px;
}
.cabecalho .cabecalho__menu {
  display: flex;
  align-items: center;
}
.cabecalho .cabecalho__menu .cabecalho__lista {
  display: flex;
}
.cabecalho .cabecalho__menu .cabecalho__lista .cabecalho__link {
  text-decoration: none;
}
.cabecalho .cabecalho__menu .cabecalho__lista .cabecalho__link:hover {
  font-weight: 600;
}
.cabecalho .cabecalho__menu .cabecalho__lista .cabecalho__link .cabecalho__itens {
  color: white;
  margin-right: 1rem;
  white-space: nowrap;
}
.cabecalho .cabecalho__menu .cabecalho__lista .cabecalho__link .cabecalho__itens.ativo {
  font-weight: 600;
}

@media screen and (min-width: 0) {
  .cabecalho__menu {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .cabecalho__menu {
    justify-content: space-between;
  }
  .cabecalho__menu .cabecalho__imagem {
    background: url("../img/emoji_2.png") no-repeat center/cover;
    width: 50px;
    height: 50px;
  }
}
.projetos {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 20px;
}
.projetos .projeto {
  border: 1px solid gray;
  border-radius: 10px;
  transition: all ease-in-out 0.1s;
  margin-bottom: 1rem;
}
.projetos .projeto .projeto__link {
  text-decoration: none;
  color: white;
}
.projetos .projeto .projeto__link .projeto__imagem {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.projetos .projeto .projeto__link .projeto__titulo {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.projetos .projeto .projeto__link .projeto__descricao {
  padding: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.2;
}

@media screen and (min-width: 0) {
  .projetos {
    flex-direction: column;
  }
  .projetos .projeto {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .projetos {
    flex-flow: row wrap;
  }
  .projetos .projeto {
    width: calc(25% - 20px);
    height: 300px;
  }
  .projetos .projeto:hover {
    transform: scale(105%);
  }
}
.projeto__label {
  display: flex;
  padding: 10px;
  align-items: center;
}
.projeto__label .label {
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 700;
}
body {
  position: relative;
}
body .sobre .sobre__info {
  position: absolute;
  z-index: 3;
}
body .sobre .sobre__info .sobre__box {
  display: flex;
  margin-top: 1.5rem;
}
body .sobre .sobre__info .sobre__box:last-child {
  margin-top: 0;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--baby {
  background: url(../img/emoji_baby.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--children {
  background: url(../img/emoji_children.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--faculdade {
  background: url(../img/emoji_faculdade.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--game {
  background: url(../img/emoji_game.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--me {
  background: url(../img/emoji_2.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__imagem.sobre__imagem--bike {
  background: url(../img/emoji_bike.png) no-repeat center/cover;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo {
  color: white;
  line-height: 1.4;
  margin: 10px;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo.link {
  text-align: center;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo .sobre__link {
  text-decoration: none;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo .sobre__link .sobre__icons {
  color: white;
  font-size: 1.2rem;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo .sobre__link .sobre__email {
  color: white;
}
body .sobre .sobre__info .sobre__box .sobre__conteudo .conteudo__texto {
  font-size: 0.8rem;
}

@media screen and (min-width: 0) {
  body .sobre {
    background: black;
    height: 100vh;
  }
  body .sobre .sobre__info {
    background: black;
    left: auto;
    right: auto;
    top: 5%;
  }
  body .sobre .sobre__info .sobre__box {
    flex-direction: column;
    text-align: center;
  }
  body .sobre .sobre__info .sobre__box .sobre__imagem {
    align-self: center;
    height: 40px;
    width: 40px;
  }
  body .sobre .sobre__info .sobre__box .sobre__conteudo.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  body .sobre .sobre__info .sobre__box .sobre__conteudo .sobre__link {
    margin-right: 0.5rem;
  }
  body .sobre .sobre__info .sobre__box .sobre__conteudo .sobre__email {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  body .sobre .sobre__overlay {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    z-index: 2;
    position: absolute;
  }
  body .sobre .sobre__banner {
    background: url(../img/space.jpg) no-repeat center/cover;
    height: 100vh;
  }
  body .sobre .sobre__info {
    background: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  body .sobre .sobre__info .sobre__box {
    display: flex;
    flex-direction: row;
  }
  body .sobre .sobre__info .sobre__box .sobre__imagem {
    height: 60px;
    width: 60px;
  }
  body .sobre .sobre__info .sobre__box .sobre__conteudo {
    text-align: left;
    width: 100%;
  }
  body .sobre .sobre__info .sobre__box .sobre__conteudo.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
